<!-- Begin page -->
<div id="wrapper">

  <!-- ========== Left Sidebar Start ========== -->

  <app-left-sidebar>

  </app-left-sidebar>

  <!-- Left Sidebar End -->


  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->

  <div class="content-page">

    <!-- Top Bar Start -->
    <app-top-navbar>

    </app-top-navbar>
    <!-- Top Bar End -->


    <router-outlet>

    </router-outlet>


    <app-footer>

    </app-footer>

  </div>


  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


</div>
<!-- END wrapper -->
