<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">

  <div class="slimscroll-menu" id="remove-scroll">

    <!-- LOGO -->
    <div class="topbar-left">
      <a href="index.html" class="logo">
                            <span>
                                <img src="assets/images/logo.png" alt="" height="22">
                            </span>
        <i>
          <img src="assets/images/logo_sm.png" alt="" height="28">
        </i>
      </a>
    </div>

    <!-- User box -->
    <div class="user-box">
      <div class="user-img">
        <img src="assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme"
             class="rounded-circle img-fluid">
      </div>
      <h5><a href="#">Chathuranga Tennakoon</a></h5>
      <p class="text-muted">Senior Software Engineer</p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <ul class="metismenu" id="side-menu">

        <!--<li class="menu-title">Navigation</li>-->

        <li>
          <a href="javascript: void(0);">
            <i class="fi-air-play"></i><span class="badge badge-danger badge-pill pull-right">New</span>
            <span> Home </span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);">
            <i class="fi-layers" aria-expanded="false"></i>
            <span> Employee </span>
            <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li routerLinkActive="active"><a routerLink="/employees/new">Add New</a></li>
            <li routerLinkActive="active"><a routerLink="/employees/all">All Employees</a></li>
            <li><a href="#">Transfer</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Projects </span> <span
            class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="#">All Projects </a></li>
            <li><a href="#">Task Board</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Attendance </span> <span
            class="menu-arrow"></span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Event Management </span> <span
            class="menu-arrow"></span></a>
        </li>


        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Performance </span> <span
            class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="#">Disciplinary action</a></li>
            <li><a href="#">Progress</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Recruitment </span> <span
            class="menu-arrow"></span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Off-Board </span> <span
            class="menu-arrow"></span></a>
        </li>


        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Assets </span> <span
            class="menu-arrow"></span></a>
        </li>


        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Finance </span> <span
            class="menu-arrow"></span></a>

          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="#">Salary</a></li>
            <li><a href="#">Petty Cash</a></li>
          </ul>

        </li>


        <li>
          <a href="javascript: void(0);"><i class="fi-layers"></i> <span>Health</span> <span
            class="menu-arrow"></span></a>

          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="#">Insurance Plan</a></li>
            <li><a href="#">Reimbursement</a></li>
          </ul>

        </li>

      </ul>

    </div>
    <!-- Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
